
body
{
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
    background-color: #cde9ff;
}

.quadro
{
    background-color: #fff;
    border-radius: 10px;
    width: 350px;
    height: 350px;
    margin-left: 15px;
}

.nome_produto
{
    font-weight: bold;
    text-align: center;
}

.btn_ver
{
    text-align: center;
    width: 340px;
    height: 30px;
    background: #4F719D;
    margin-left: 5px;
    border-radius: 3px;
    padding-top: 7px;
}

.texto_btn
{
    padding-top: 5px;
    text-align: center;
    color:#fff;
    text-decoration: none;
}
