*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body
{
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
    background-color: #cde9ff;
}

.quadro
{
    background-color: #fff;
    border-radius: 10px;
    width: 350px;
    height: 350px;
    margin-left: 15px;
}

.nome_produto
{
    font-weight: bold;
    text-align: center;
}

.btn_ver
{
    text-align: center;
    width: 340px;
    height: 30px;
    background: #4F719D;
    margin-left: 5px;
    border-radius: 3px;
    padding-top: 7px;
}

.texto_btn
{
    padding-top: 5px;
    text-align: center;
    color:#4F719D;
    font-weight: bold;
    text-decoration: none;
    margin-left: 3px;
}

/*-----------------------------------------------------*/
  /* Estilo para a tabela */
  table {
    border-collapse: collapse;
    width: 80%;
    margin-top: 50px;
    margin-left: 135px;
  }

  th
  {
    background-color: #4F719D;
    color: #ffffff;
    border: 1px solid #dddddd;
    text-align: center;
    padding: 12px;
  }
  /* Estilo para células de dados */
  td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 14px;
    font-size: 14px;
    text-align: center;
  }

  /* Estilo para linhas ímpares */
  tr:nth-child(odd) {
    background-color: #f2f2f2;
  }