*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body
{
    font-family: 'Roboto', sans-serif;
    background-color: #cde9ff;
}

.texto
{
    font-size: 28px;
    font-weight: bold;
}

.texto-um
{
    color: #6a5be2;
    text-align: center;
    margin-left: 30px;
}

.texto-dois
{    
    color: #6a5be2;
}

.descricao
{
    font-size: 14px;
    font-weight: 300;
    color: #fff;
    line-height: 30px;
}

.btn
{
    border-radius: 15px;
    text-transform: uppercase;
    color: #fff;
    font-size: 10px;
    font-weight: bold;
    padding: 10px 50px;
    cursor: pointer;
    align-self: center;
    border: none;
    margin-top: 1rem;
}

.btn-um
{
    background-color: transparent;
    border: 1px solid #fff;
    transition: background-color .5s;
}

.btn-um:hover
{
    background-color: #fff;
    color: #6a5be2
    /*color:blueviolet;*/
}

.btn-dois
{
    background-color:#597FB1;
    border: 1px solid #597FB1;
    transition: background-color .5s;
}

.btn-dois:hover
{
    background-color: #fff;
    border: 1px solid #597FB1;
    color: #597FB1;
}

.container
{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 90px;
   /* background-color: lightgray;*/
}

.tela
{
    border-radius: 15px;
    background-color: #fff;
    width: 800px;
    height: 60%;
    justify-content: space-between;
    display: flex;
    align-items: center;
    position: relative;

    flex-flow: row wrap;
}

/* tela para cadastro */
.Um
{
    margin-top: 400px;
    height: 530px;
    border: 2px solid#597FB1;
   /* border-style: 2px solid;
    border-color: blueviolet;*/
    position: absolute;
    display: flex;
    z-index: -1;
}

.Um .colunaDois
{
    z-index: 0;
}

/* tela para login */
.Dois
{
    height: 500px;
    position: absolute;
    display: flex;
}

.Dois .colunaUm
{
    order: 2;
    z-index: -1;
}

.Dois .colunaDois
{
    order: 1;
    z-index: -1;
}

/* tela da mensagem */
.colunaUm
{
    margin-top: 80px;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    float: left;
}

/* tela das informações */
.colunaDois
{
    margin-top: 80px;
    margin-left: 280px;
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /*float: right;*/
}

.form
{
    display: flex;
    flex-direction: column;
    width: 55%;
    text-align: center;
}

.form input
{
    height: 45px;
    width: 250px;
    border: none;
    background-color: #ecf0f1;  
}

.label-input
{
    background-color: #ecf0f1;
    display: flex;
    align-items: center;
    margin: 8px;
    /*height: 45px;
    width: 280px;*/
}


.lado
{
    padding-left: 5px;
    margin-top: 5px;
}

#botoes
{
    float: left;
    margin-top: 15px;
    margin-bottom: 20px;
    margin-left: 15px;
    text-align: center;
    color: black;
    text-transform: uppercase;
    cursor: pointer;
   /* transition: 0.4s;*/
    
}

#botoes:link 
{
    /*background-color: blueviolet;*/
    color: black;
    /*padding-bottom: 1px 15px;*/
    text-align: center;
    text-decoration: none;
    /*border-radius: 40px ;*/

    /*text-transform: uppercase;*/
    font-size: 14px;
    font-weight: bold;
    align-self: center;
    border: none;
    /*border: 2px solid #fff;*/
    padding-bottom: 5px;
    border-bottom: 5px;
    
}

#botoes:hover
{
    background-color: transparent;
    text-decoration: underline 3px;
    text-decoration-color: #597FB1;
}

.center
{
    align-items: center;
    justify-content: center;
    align-content: center;
    text-align: center;
}

.baixo
{
    padding-left: 63%;
    margin-top: 12px;
}