*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body
{
    font-family: 'Roboto', sans-serif;
    background-color:   #a3ceef;
}

h1
{
    padding-top: 80px;
}

ul{
    margin-left: -40px;
}
.mae{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin: 0px auto;
}
.corpo{
    display: flex;
    margin-top: 10px;
}
.Colunaum
{

    float: left;
}
.descricao{
    justify-content: space-between;
    height: 500px;
}

.desc_img1{
    
    width: 100%;
}
.desc_img2{
    width: 100%;
    max-height: 490px;
    border: 0;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.btn_ver
{
    text-align: center;
    width: 220px;
    height: 30px;
    background: #211b51;
    margin-left: 5px;
    border-radius: 3px;
    padding-top: 7px;
    margin-top: 20px;
    margin-left: 265px;
}

.texto_btn
{
    padding-top: 5px;
    text-align: center;
    color:#fff;
    text-decoration: none;
    font-weight: bold;
}


.desc_txt1{
    font-style: normal;
    font-size: 22px;
    text-align: justify;
    letter-spacing: -0.015em;
    color: #000000;
    width: 60%;
    margin-left: 40px;
    margin-top: 20px;
    margin-left: 150px;
}

.desc_txt2{
    font-size: 49px;
    text-align: start;
    letter-spacing: -0.015em;
    color: #211b51;
    margin-left: 120px;
    margin-top: 50px;
}

.prod_btn1 a{
    margin-left: 69%;
    text-decoration: none;
    border: none;
    border-radius: 8px;
    outline: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 4px;
    cursor: pointer;
    box-shadow: 0px 10px 40px -12px #00ff8052;
    text-align: center;
    color: #245ea0;
    font-size: 18px;

}
.prod_btn1{

    margin-top: 18%;
}
.prod_btn1 a:hover{

    margin-left: 69%;
    text-decoration: none;
    border: none;
    border-radius: 8px;
    outline: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 4px;
    font-size: 18 px;
    cursor: pointer;
    box-shadow: 0px 10px 40px -12px #00ff8052;
    text-align: center;
    transition: all 0.3s ease-in;
    transform: scale(1.1);
    color: #9797a5;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 8%;
    padding-right:8%;
    background-color: #a3ceef;
 
}
.prod_img{
        width: 100%;
}
.prod_img1{
    width: 100%;
    margin-top: 3%;
    max-height: 300px;
}
.prod1,
.prod2,
.prod3 {
    float: left;
    padding-left: 13px;
    padding-right: 13px;
    width: 30%;
    background-color: #211b51;
    border-radius: 8px;
    height:220px;
    margin-bottom: 40px;
}

.prod_txt {
    font-style: normal;
    font-size: 22px;
    text-align: center;
    letter-spacing: -0.015em;
    color:#fff;
    margin-left: 5%;
    margin-right: 5%;
}

.center1
{
    margin-top: 45px;
}

.center2
{
    margin-top: 32px;
}

.center3
{
    margin-top: 20px;
}

.prod_txt1{

    width: 100%;
}
.colunadois
{

    margin-left:100px;
    float: left;
    width: 100%;

}

.imghome{
    width: 100%;
    margin-left: 50px;
    margin-top: 25px;
}