*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body
{
    font-family: 'Roboto', sans-serif;
    background-color: #cde9ff;
}

h1
{
    padding-top: 80px;
}

ul{
    margin-left: -40px;
}
.mae{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin: 0px auto;
}
.corpo{
    display: flex;
    margin-top: 10px;
}
.Colunaum
{

    float: left;
}
.descricao{
    justify-content: space-between;
    height: 500px;
}
.desc_img1{
    
    width: 100%;
 
}
.desc_img2{
    width: 100%;
    max-height: 490px;
    border: 0;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}
.desc_btn{
   /* background-color: #78a1d7;
    width: 236px;
    height: 21px;
    margin-left: 100px;
     position: absolute; 
    padding: 10px;
    backface-visibility: hidden;
    */
    border-radius: 15px;
    text-transform: uppercase;
    color: #fff;
    font-size: 10px;
    font-weight: bold;
    padding: 10px 50px;
    cursor: pointer;
    align-self: center;
    border: none;
    margin-top: 1rem;
}

.desc_btn a{
    
   /* text-decoration: none;
    border: 3px;
    
    outline: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 4px;
    cursor: pointer;
    box-shadow: 0px 10px 40px -12px #00ff8052;
    text-align: center;
    
    color: #595858;
    text-decoration: none;
    font-size: 16px;
    width: 80px;
    */
    background-color:#597FB1;
    border: 1px solid #597FB1;
    transition: background-color .5s;
    
}
.desc_btn a:hover{
    
   /* text-decoration: none;
    border: 3px;
    
    outline: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 4px;
    cursor: pointer;
    box-shadow: 0px 10px 40px -12px #00ff8052;
    text-align: center;
    
    color: #000000;
    text-decoration: double;
    font-size: 18px;
*/
background-color: #fff;
border: 1px solid #597FB1;
color: #597FB1;
   
}
/* .desc_txt{
    max-width: 40%;
    padding-right: 10px;
    padding-left: 10px;
    text-align:start;
    background-color: #ffffff;;
    border-radius: 8px;

} */
.desc_txt1{
    font-family: 'Oswald';
    font-style: normal;
    font-size: 22px;
    text-align: justify;
    letter-spacing: -0.015em;
    color: #000000;
    margin-left: 120px;
    width: 50%;
}

.desc_txt2{
    
        font-family: 'Raleway';
        font-size: 49px;
        text-align: start;
        letter-spacing: -0.015em;
        color: #211b51;
        margin-left: 50px;
}
.prod_btn1 a{
    margin-left: 69%;
    text-decoration: none;
    border: none;
    border-radius: 8px;
    outline: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 4px;
    cursor: pointer;
    box-shadow: 0px 10px 40px -12px #00ff8052;
    text-align: center;
    color: #245ea0;
    font-size: 18px;

}
.prod_btn1{

    margin-top: 18%;
}
.prod_btn1 a:hover{

    margin-left: 69%;
    text-decoration: none;
    border: none;
    border-radius: 8px;
    outline: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 4px;
    font-size: 18 px;
    cursor: pointer;
    box-shadow: 0px 10px 40px -12px #00ff8052;
    text-align: center;
    transition: all 0.3s ease-in;
    transform: scale(1.1);
    color: #9797a5;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 8%;
    padding-right:8%;
    background-color: #a3ceef;
 
}
.prod_img{
        width: 100%;
}
.prod_img1{
    width: 100%;
    margin-top: 3%;
    max-height: 300px;
}
.prod1,
.prod2,
.prod3 {
    float: left;
    padding-left: 13px;
    padding-right: 13px;
    width: 30%;
    background-color: #BBD2EC;
    border-radius: 8px;
    height:200px;
    
}

.prod_txt {
    font-family: 'Montserrat';
    font-style: normal;
    font-size: 22px;
    text-align: center;
    letter-spacing: -0.015em;
    color: #3b3347;
    margin-left: 5%;
    margin-right: 5%;
    /* background-color: #f0ffff94; */
}

.prod_txt1{

    width: 100%;
}
.colunadois
{

    margin-left:100px;
    float: left;
    width: 100%;

}

.imghome{
    width: 100%;
}