body
{
    background-color: #cde9ff;
}

.quadro
{
    background-color: #fff;
    border-radius: 10px;
    width: 350px;
    height: 350px;
    margin-left: 15px;
}

.nome_produto
{
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
    text-align: center;
}