*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body
{
    font-family: 'Roboto', sans-serif;
    background-color: #cde9ff;
}

.texto
{
    font-size: 28px;
    font-weight: bold;
}

.texto-um
{
    color: #6a5be2;
    text-align: center;
    margin-top: 138px;
}

.descricao
{
    font-size: 14px;
    font-weight: 300;
    color: #fff;
    line-height: 30px;
}

.btn
{
    border-radius: 15px;
    text-transform: uppercase;
    color: #fff;
    font-size: 10px;
    font-weight: bold;
    padding: 10px 50px;
    cursor: pointer;
    align-self: center;
    border: none;
    margin-top: 1rem;
}

.btn-um
{
    background-color: transparent;
    border: 1px solid #fff;
    transition: background-color .5s;
}

.btn-um:hover
{
    background-color: #fff;
    color: #6a5be2
    /*color:blueviolet;*/
}

.btn-dois
{
    background-color:#597FB1;
    border: 1px solid #597FB1;
    transition: background-color .5s;
}

.btn-dois:hover
{
    background-color: #fff;
    border: 1px solid #597FB1;
    color: #597FB1;
}

.container
{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -27px;
    margin-bottom: 455px;
}

.tela
{
    border-radius: 15px;
    background-color: #fff;
    width: 800px;
    height: 60%;
    justify-content: space-between;
    display: flex;
    align-items: center;
    position: relative;

    flex-flow: row wrap;
}

/* tela para cadastro */
.Um
{
    margin-top: 520px;
    height: 475px;
    width: 650px;
    border: 2px solid#597FB1;
    position: absolute;
    display: flex;
    z-index: -1;
}

.Um .colunaDois
{
    z-index: 0;
    margin-top: 35px;
    margin-left: 190px;
}

/* tela para login */
.Dois
{
    height: 500px;
    position: absolute;
    display: flex;
}

.form
{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.form input
{
    height: 45px;
    width: 250px;
    border: none;
    background-color: #ecf0f1;  
}

.label-input
{
    background-color: #ecf0f1;
    display: flex;
    align-items: center;
    margin: 8px;
}

.lado
{
    padding-left: 5px;
    margin-top: 5px;
}

table {
    border-collapse: collapse;
    width: 80%;
    margin-top: 50px;
    margin-left: 135px;
  }

  th
  {
    background-color: #4F719D;
    color: #ffffff;
    border: 1px solid #dddddd;
    text-align: center;
    padding: 7px;
  }
  /* Estilo para células de dados */
  td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 14px;
    font-size: 14px;
    text-align: center;
  }

  /* Estilo para linhas ímpares */
  tr:nth-child(odd) {
    background-color: #f2f2f2;
  }