.cabecalho{
   
    width: 100%;
    height: 115px;
    left: -37px;
    top: 0px;
    
    background: #597FB1;
    box-shadow: 3.19901px 4.26535px 5.33168px rgba(0, 0, 0, 0.52);
}
.index{
        margin-left: 100px;}
#menu_to{
    opacity: 0;
}
#menu_to:checked + .menu_btn > span{
    transform: rotate(45deg);
}
#menu_to:checked + .menu_btn > span::before{
    top:0;
    transform: rotate(0deg);
}
#menu_to:checked + .menu_btn > span::after{
    top:0;
    transform: rotate(90deg);
}

#menu_to:checked ~ .menu_box {
    left: 0 !important;
  
}

.menu_btn{

   width: 40px;
   height: 40px;
position: absolute;
left: 2%;
right: 95.15%;
padding-top: 51px;

/* IconCor */

    cursor: pointer;
    z-index: 1;
} 

.menu_btn > span,
.menu_btn >span::before,
.menu_btn >span::after{

    display:block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #CDE9FF;
    transition-duration: .25s;
    display:flex;
}

.menu_btn > span::before{

    content: '';
    top: -8px;
}

.menu_btn >span::after{
    content: '';
    top: 8px;
}

.menu_box{

    display: block;
    position: fixed;
    top:0;
    left:-100%;
    width:300px;
    height:100%;
    margin:0;
    padding-left: 80px;
    list-style: none;
    background: #4F719D;
    box-shadow: 2px 2px 6px rgba(0,0,0,.4);
    transition: .25s;
}

.menu_item{

    display: block;
    padding: 12px 24px;
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
    font-weight: 600;
    text-decoration: none;
    transition-duration: .25s;
    margin-top: 10px;
    margin-right: 20px;
    margin-bottom: 10px;
    margin-left: 20px;

}

.menu_topico
{
  font-size: 20px; 
  font-weight:bold;
  text-decoration: none;
  margin: 12px;
  color: #FFFFFF;
  user-select: none;
  font-family: 'Roboto', sans-serif;

}

.menu_item:hover{

    background-color: #CDE9FF;
    color:#4F719D;
     
}
