*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body
{
    font-family: 'Roboto', sans-serif;
    background-color: #cde9ff;
}

.texto
{
    font-size: 28px;
    font-weight: bold;
}

.texto-um
{
    color: #6a5be2;
    text-align: center;
    margin-left: 9px;
}

.btn
{
    border-radius: 15px;
    text-transform: uppercase;
    color: #fff;
    font-size: 10px;
    font-weight: bold;
    padding: 10px 50px;
    cursor: pointer;
    align-self: center;
    border: none;
    margin-top: 25px;
}

.btn-um
{
    background-color: transparent;
    border: 1px solid #fff;
    transition: background-color .5s;
}

.btn-um:hover
{
    background-color: #fff;
    color: #6a5be2
    /*color:blueviolet;*/
}

.btn-dois
{
    background-color:#597FB1;
    border: 1px solid #597FB1;
    transition: background-color .5s;
}

.btn-dois:hover
{
    background-color: #fff;
    border: 1px solid #597FB1;
    color: #597FB1;
}

.container
{
    display: flex;
    justify-content: center;
    align-items: center;
    
    padding-top: 50px;
   /* background-color: lightgray;*/
}

.tela
{
    border-radius: 15px;
    background-color: #fff;
    width: 960px;
    height: 60%;
    justify-content: inherit;
    align-items: center;
    position: relative;
}

/* tela para cadastro */
.Um
{
    margin-top: 260px;
    height: 310px;
    width: 620px;
    border: 2px solid#597FB1;
    position: absolute;
    display: flex;
}

/* tela das informações */
.colunaDois
{
    width: 100%;
   
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form
{
    display: flex;
    flex-direction: column;
    width: 55%;
    text-align: center;
}

.form input
{
    height: 45px;
    width: 280px;
    border: none;
    background-color: #ecf0f1;  
}

.label-input
{
    background-color: #ecf0f1;
    display: flex;
    align-items: center;
    margin: 8px;
    height: 45px;
    width: 275px;
    margin-left: 40px;
}

.lado
{
    padding-left: 5px;
    margin-top: 5px;
}

.center
{
    align-items: center;
    justify-content: center;
    align-content: center;
    text-align: center;
}

.baixo
{
    padding-left: 63%;
    margin-top: 12px;
}